<h3>Formulario:</h3>

<p>Ingrese 2 números para sumar:</p>
<%= form_tag(pages_save_result_path, method: :post) do %>
  <%= number_field_tag 'a' %>
  <%= number_field_tag 'b' %>
  <%= submit_tag 'Enviar' %>
<% end %>

<!--
<p>Ingrese 2 números para sumar:</p>
<form action="<%= pages_save_result_path %>" method="POST">
  <input type="hidden" value="<%= form_authenticity_token %>" name="authenticity_token">
  <input type="text" name="a">
  <input type="text" name="b">
  <input type="submit" value="enviar">
</form>
-->